---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import BaseLayout from "@/layouts/BaseLayout.astro";
import BackLink from "@/components/BackLink.astro";
import Giscus from "@/components/Giscus.astro"
import SeoPost from "@/components/SeoPost.astro";
import Tag from "@/components/Tag.astro";

interface Props {
  app: CollectionEntry<"apps">;
}

export async function getStaticPaths() {
  const apps = await getCollection("apps");
  return apps.map((app) => ({
    params: { slug: app.slug },
    props: { app },
  }));
}

const { app } = Astro.props;
const { Content } = await app.render();
---

<BaseLayout>
  <SeoPost slot="head" entry={app} />
  <div>
    <div class="mx-auto max-w-[80ch] pt-12">
      <BackLink />
    </div>
    <div class="mx-auto flex max-w-[80ch] items-center gap-2 pt-12 sm:pt-16">
      <Image
        src={app.data.icon}
        width={100}
        height={100}
        quality="medium"
        format="webp"
        alt={app.data.title}
        loading="eager"
        class="size-24"
        transition:name={`${app.data.title}-icon`}
      />
      <div class="grid sm:gap-1">
        <h1
          class="flex items-center gap-1.5 text-2xl font-semibold sm:text-4xl"
          transition:name={`${app.data.title}-title`}
        >
          <a
            href={app.data.link}
            class="hover:underline"
            target="_blank"
            referrerpolicy="no-referrer">{app.data.title}</a
          >
          <Icon
            name="external-link"
            class="size-4 text-lightModeForegroundMuted sm:size-6 dark:text-darkModeForegroundMuted"
          />
        </h1>
        <p
          class="text-lightModeForegroundMuted sm:text-base dark:text-darkModeForegroundMuted"
          transition:name={`${app.data.title}-mutedText`}
        >
          {app.data.developerName}
        </p>
      </div>
    </div>

    <div
      class="mx-auto mb-4 grid max-w-screen-md grid-cols-2 gap-3 py-6 sm:grid-cols-4 sm:py-12"
    >

        {app.data.isOpenSource ? <Tag href={`/isOpenSource`}}>
        <span class="text-green-500 text-base">●</span>
        Open Source
        </Tag> : null}
        {app.data.isFree ? <Tag href={`/isFree`}}>
        <span class="text-blue-500 text-base">■</span>
        Free
        </Tag> : null}
        {app.data.isOneTimePurchase ? <Tag href={`/isOneTimePurchase`}}>
        <span class="text-yellow-500 text-base">▲</span>
        One Time Purchase
        </Tag> : null}
        {app.data.isSubscription ? <Tag href={`/isSubscription`}}>
        <span class="text-red-500 text-base">✖</span>
        Subscription
        </Tag> : null}
    </div>

    <div
      class="content prose prose-lg prose-neutral mx-auto sm:prose-xl dark:prose-invert"
    >
      <Content />
    </div>
    <Giscus />
  </div>
</BaseLayout>
