---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import MonetizationBadge from "@/components/MonetizationBadge.astro";

interface Props {
  app: CollectionEntry<"apps">;
}

const { app } = Astro.props;
---

<li>
  <a href={`/apps/${app.slug}`}>
    <div class="flex w-full items-center justify-between">
      <div class="flex items-center gap-1.5 pr-3">
        <Image
          src={app.data.icon}
          width={100}
          height={100}
          quality="medium"
          format="webp"
          alt={app.data.title}
          loading="lazy"
          class="size-16"
          transition:name={`${app.data.title}-icon`}
        />
        <div>
          <div class="flex items-center gap-2">
            <p transition:name={`${app.data.title}-title`}>
              {app.data.title}
            </p>
            <div
              class="flex items-center gap-1 font-bold text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
            >
              {
                app.data.isOpenSource ? (
                  <span class="text-green-500">
                    <Icon name="circle" />
                  </span>
                ) : null
              }
              {
                app.data.isFree ? (
                  <span class="text-blue-500">
                    <Icon name="square" />
                  </span>
                ) : null
              }
              {
                app.data.isOneTimePurchase ? (
                  <span class="text-yellow-500">
                    <Icon name="triangle" />
                  </span>
                ) : null
              }
              {
                app.data.isSubscription ? (
                  <span class="text-red-500">
                    <Icon name="cross" />
                  </span>
                ) : null
              }
            </div>
          </div>
          <p
            class="text-sm font-normal text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
            transition:name={`${app.data.title}-mutedText`}
          >
            {app.data.tagline}
          </p>
        </div>
      </div>
      <MonetizationBadge app={app} />
    </div>
  </a>
</li>
